= form :action => url(:login), :id => "login" do
  %p= text_field      :name => "email",       :label => "Email"
  %p= password_field  :name => "password",    :label => "Password"  
  %p= check_box :name => "remember_me", :label => {:title => "Remember Me", :class => "inline"}
  %p= submit "Login"

%br/
= link_to "Forgot your password?", url(:new_merb_auth_password)