- @page_title = "Edit #{@article.title}"
- @page_id = page_id

= error_messages_for @article

= form_for(@article, :action => resource(@article)) do
  = partial :form

  %ul.buttons
    %li
      = submit "Save" 
    %li
      %a{:href => resource(named_index_route)}Cancel
