- @page_title = "Edit #{@article.title}"
- @page_id = page_id

= error_messages_for @article

= form_for((@article.has_draft? ? @article.draft : @article), :action => resource(@article), :builder => ArticleFormBuilder) do
  = partial :form

  %ul.buttons
    %li
      = submit "Save Draft" 
      = submit "Publish"
    %li
      %a{:href => resource(named_index_route)}Cancel
