.field 
  = text_control       :title,         :label => "Title", :class => "title"
.field 
  = preserve(text_area_control(:description,   :label => "Description", :class => "description"))
 
.field 
  %label{:for => "tutorial_body"} Detail
  %p.note
    You can use 
    = link_to "textile markup", "http://hobix.com/textile/quick.html", :target => "_blank" 
    for the body of your news article
  =preserve(text_area_control(:body, :class => "body"))

- unless @tutorial.new_record? || @tutorial.draft?
  = checkbox_field :name => "save_as_draft", :boolean => "true", :label => {:title => "Save as Draft?", :class => "inline"}
        
.field 
  = submit_button "Save"