%h3.title= link_to tutorial.title, url(:tutorial, tutorial)
%p.type.tutorial Tutorial
%p.summary= (formatted(tutorial.description) || "").truncate(200)
%p.credit
  Author:
  = tutorial.owner.login
  |
  - if tutorial.published?
    Published:
    = time_format(tutorial.published_on)
  - else
    - for_publishers do
      Status:
      = tutorial.published_status
  |
  = comment_count_text(tutorial)
