%div{:class => "tutorial summary item"}
  %h3.title
    = link_to tutorial.title, url(:tutorial, tutorial)
  %p.meta
    - if tutorial.published?
      = time_format(tutorial.published_on)
    - else 
      - for_publishers do
        Status: Pending
    | 
    Author:
    = tutorial.owner.login
          
  %p.description
    = (tutorial.description || "").truncate(200)
    
  %p.comment_count
    = comment_count_text(tutorial)
