- throw_content :for_header do
  = @tutorial.title
- page_title " - #{@tutorial.title}"

= partial :detail, :with => @tutorial, :as => "tutorial"

- with_unpublished @tutorial do
  - comments = @tutorial.pending_comments
  - comments.first.owner unless comments.empty?
  - @comments_url = url(:add_comment, :id => @tutorial, :klass => "Tutorial")
  = partial "shared/comments/comments", :with => @tutorial, :as => "object", :comment_page_heading => "Comments about this pending tutorial", :comments => comments

- with_published @tutorial do
  - comments = @tutorial.comments
  - comments.first.owner unless comments.empty?
  - @comments_url = url(:add_comment, :id => @tutorial, :klass => "Tutorial")

  = partial "shared/comments/comments", :with => @tutorial, :as => "object", :comment_page_heading => "Comments", :comments => comments

- throw_content :for_object_menu, partial(:object_menu, :with => @tutorial, :as => "tutorial")
