- throw_content :for_header do
  = @news_item.title
- page_title "- #{@news_item.title}"

.item[@news_item]
  %p.meta
    = time_format(@news_item.created_at)
    | Reporter:
    = @news_item.owner.login
  %p.description
    = @news_item.description
  .body
    =preserve(@news_item.display_body)

- @comments_url = url(:add_comment, :id => @news_item, :klass => "NewsItem")
= partial "shared/comments/comments", :with => @news_item.comments, :as => "comments", :comment_page_heading => "Comment On #{@news_item.title}"

- throw_content :for_object_menu, partial(:object_menu, :with => @news_item, :as => "news_item")