!!! 1.1
%html
  %head
    %title Rubunity
    = css_include_tag(:screen)
    = js_include_tag(:jquery, :application)
    
  %body{:id => @page_id}
    %h1#logo Rubunity
    
    %div#wrapper
      %ul#navigation
        %li= main_nav_link("Home", url(:home))
        %li= main_nav_link("News", resource(:news_items))
        %li= main_nav_link("Tutorials", resource(:tutorials))
        %li= main_nav_link("People", resource(:people))
        %li#sign-up-link= main_nav_link("Sign-up", url(:signup))
        %li#login-link= main_nav_link("Login", url(:login))
      
      %div#side
        %h2 Feature
        %p
          Enthusiastically generate empowered technology and holistic total 
          linkage. Assertively redefine resource-leveling solutions via 
          accurate potentialities.
        
        %h2 Sponsors
        %ul#sponsors
          %li
            %a{:href => "http://engine-yard.com", :title => "Fully managed Rails hosting."}
              = image_tag("sponsors/engine-yard.gif", :alt => "The Engine Yard logo.")
          %li
            %a{:href => "http://iveyandbrown.com/?merbunity", :title => "Specializing in agile software development using Ruby, Merb, and Ruby on Rails."}
              = image_tag("sponsors/ivey-brown.gif", :alt => "The Ivey & brown logo.")
        
      %div#main
        %h1#page-title= @page_title
        = catch_content(:for_layout)
        
      %div#footer
        %h1 Help and Legal
        %p#credits
          Design and code by <br/>
          Daniel Neighman and Luke Sutton
        %p#creative-commons
          All contents Creative Commons <br/>
          licensed unless noted otherwise
        %p#help-legal
          Please read our Terms of Service. <br/>
          If you need help there is our FAQ. <br/>
          To give us feedback, please use this form.
          