!!!
%html{html_attrs}
  %head
    %title 
      Merbunity 
      = page_title
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %meta{ :name => "verify-v1", :content => "U6KOSneP6ZP651Ce6SKLHUpUhGHYoU1sfH4+bzVwDLc=" }
    = css_include_tag :master
    = js_include_tag "jquery-1.2.3.pack"
    = js_include_tag "chili/jquery.chili-2.0"
    = js_include_tag "application"
    %script
      ChiliBook.recipeFolder     = "/javascripts/chili/";  
      ChiliBook.stylesheetFolder = "/javascripts/chili_old/css/";
      
    = catch_content :auto_discover_atom unless catch_content(:auto_discover_atom).blank?
  %body
    #header
      %a{:href => "/", :title => "Return to home"}
        %h1 
          Merbunity
      .tagline
        %h2 A Merb Community
        %p News, projects and tutorials devoted to the Merb web framework
      = partial "shared/people/login_box"  

    #content
      #action_content
        = site_menu
        -if thrown_content? :for_side
          = catch_content(:for_side)
      #content_box  
        - if thrown_content? :for_header        
          %h2.content_header= catch_content :for_header
          %br.clear/
        -if thrown_content? :for_object_menu
          =catch_content :for_object_menu
        - unless flash.empty?
          - flash_type = flash.keys.sort.first
          %div{:class => "flash #{flash_type}"}
            = flash[flash_type]
            
        = catch_content :for_layout
  .footer
    %ul
      %li
        =link_to "Terms of Service", url(:tos)
        =link_to "FAQ", url(:faq)
        =link_to "Feedback", url(:new_feedback)
    %br/
    %p.note
      Site:
      = link_to "Daniel Neighman", "http://hassox.blogspot.com", :target => "_blank"
      | Design: 
      =link_to "Luke Sutton", "http://mr-eel.com", :target => "_blank"
  :plain
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-1893855-4");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
