%h1=" Edit News Item - #{@news_item.title}"

= error_messages_for :news_item

= form_for(@news_item, :action => url(:news_item, @news_item)) do
  = partial :form

  %ul.buttons
    %li
      = submit "Save News Item" 
    %li
      %a{:href => url(:news_items)}Cancel
