%h1=" Edit News Item - #{@article.title}"

= error_messages_for @article

= form_for(@article, :action => resource(@article)) do
  = partial :form

  %ul.buttons
    %li
      = submit "Save News Item" 
    %li
      %a{:href => resource(:news_items)}Cancel
