%entry
  %title{:type => "Text"}= screencast.title
  %link{ :rel => "self", :href => absolute_url(:screencast, screencast), :type => "application/atom+xml", :title => screencast.title }/
  %published= time_format(screencast.created_at.to_time.utc, "%Y-%m-%dT%TZ")
  %updated= time_format(screencast.updated_at.to_time.utc, "%Y-%m-%dT%TZ")
  %link{:rel => "alternate", :type => "text/html", :href => absolute_url(:screencast, screencast), :title => screencast.title}/
  %content{:type => "html"}
    - @_content = capture_haml do
      %div
        =screencast.description
        %br/
        = link_to "Watch it...", absolute_url(:screencast, screencast)
    = escape_xml @_content