.screencast
  .description
    %h3 Description
    = screencast.description
  .detail
    %h3 Detail
    = screencast.display_body
  .download
    Download:
    = link_to screencast.original_filename, url(:download_screencast, screencast)
  .author
    Author
    = screencast.owner.login
  .published
    -if screencast.published?
      %div
        Published On:
        = time_format(screencast.published_on)
      %div
        Published By:
        = screencast.publisher.login      
      .download_count
        Downloaded
        = screencast.download_count
        = screencast.download_count == 1 ? "time." : "times."
        
    - else
      Screencast is
      = screencast.published_status
      - for_publishers(screencast) do
        = publish_button(url(:publish_screencast, screencast))

        
        
    
  