.screencast
  .description
    %h3 Description
    = screencast.description
  .detail
    %h3 Detail
    = screencast.body
  .download
    Download:
    = link_to screencast.original_filename, url(:download_screencast, screencast)
  .author
    Author
    = screencast.owner.login
  .published
    -if screencast.published?
      %div
        Published On:
        = time_format(screencast.published_on)
      %div
        Published By:
        = screencast.publisher.login      
    - else
      Screencast is PENDING
      - for_publishers do
        = publish_button(url(:publish_screencast, screencast))

        
        
    
  