.screencast{:class => "item"}
  %p.meta
    - if screencast.published?
      = time_format(screencast.published_on)
    - else
      Status:
      = screencast.published_status
    |
    Author:
    = screencast.owner.login
    - if screencast.published?
      |
      Publisher:
      = screencast.publisher.login
  .description
    = formatted(screencast.description)
  .body
    = preserve(formatted(screencast.body))
  .download
    Download:
    = link_to screencast.original_filename, url(:download_screencast, screencast)
    .count
      Downloaded
      = screencast.download_count
      = screencast.download_count == 1 ? "time." : "times."

  - for_publishers(screencast) do
    - with_unpublished(screencast) do
      - if screencast.pending? && !current_person.publisher?
        .note
          Waiting to be published
      - else
        = publish_button(url(:publish_screencast, screencast))
