.field 
  = text_field       :title,         :label => "Title", :class => "title"
%p.note
  You can use 
  = link_to "textile markup", "http://hobix.com/textile/quick.html", :target => "_blank" 
  for your screencast

.field 
  = preserve(text_area(:description,   :label => "Description", :class => "description"))
 
.field 
  %label{:for => "screencast_body"} Detail

  =preserve(text_area(:body, :class => "body"))

%label{:for => "screencast_uploaded_file"} ScreenCast File
.field.file
  = file_field       :uploaded_file
  
  - unless screencast.original_filename.nil?
    %p
      There's already a file for this screencast. 
      = link_to screencast.original_filename, url(:download_screencast, screencast)

- unless @screencast.new_record? || @screencast.draft?
  = check_box :name => "save_as_draft", :boolean => "true", :label => {:title => "Save as Draft?", :class => "inline"}
        
.field 
  = submit "Save"