- throw_content :for_header do
  = "Edit - #{@screencast.title}"
-page_title "Edit #{@screencast.title}"

.errors
  = error_messages_for @screencast

- form_for @screencast, :action => url(:screencast, @screencast), :multipart => true do 
  =partial :form, :with => @screencast, :as => "screencast"

= link_to "Cancel and Return", url(:screencast, @screencast)
- throw_content :for_object_menu, partial(:object_menu, :with => @screencast, :as => "screencast")