%p Upload your merbcast video here.
- form_for @cast, :action => url(:casts, @cast), :multipart => true do
  = text_control :title, :label => "Title:"
  %br
  = text_area_control :description, :label => "Description:"
  %br
  = text_area_control :body, :label => "Detail (if required):"
  %br
  = file_control :uploaded_file, :label => "File:"
  %br
  = submit_button "Save"